# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Test coverage
coverage/
.nyc_output/

# Environment files
.env
.env.*
!.env.example

# Temporary files
.temp/
.tmp/
tmp/
about/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.*.json

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json